
<style type="text/css">
  * { box-sizing: border-box; }

body {
  background-color: #e9e0c7;
  color: #333;
  margin: 0;
  min-height: 100%;
}

.container { width: 100%; }



.top {
    width: 100%;
    background-color: #fff;
    color: #8c8c48;
    cursor: pointer;
    text-align: center;
}
.top:hover{
    background-color: #8c8c48;
    color: #fff;
}



</style>